<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <title>Document</title>
</head>
<body>
  <div class="w-full h-full m-10  text-white">
    <div class="nav mb-10">
      <a class="text-zinc-500 text-blue-900 text-2xl" href="/red">Read Users</a>

    </div>
  <form action="">
    <h4>Create User</h4>
    <input type="text" class="px-5 py-2 bg-zinc-400 text-white rounded-md" placeholder="Enter your name">
    <input type="text" class="px-5 py-2 bg-zinc-400 text-white rounded-md" placeholder="Enter your Wmail">
    <input type="text" class="px-5 py-2 bg-zinc-400 text-white rounded-md" placeholder="Image Url">
    <input type="submit" value="submit"  class="px-5 py-2  bg-blue-500 text-white rounded-md cursor-pointer">
  </form>
  </div>
</body>
</html>