<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <title>READ USERS</title>
</head>
<body class="bg-blue-200">
  <div class="w-full h-full m-10  text-red-900 bg-zinc-red">
    
  <h1 class="text-xl tracking-tighter mb-3">All Users</h1>
  <a href="/" class="text-blue-900"></a>
  <div class="users flex flex-wrap gap-5">
    <div class="user w-72 p-4 bg-zinc-800 rounded-md">
       <div class="w-full h-52 rounded-lg bg-red-300"></div>
       <h3 class="text-xl text-white tracking-tighter">Naveen Kumawat</h3>
       <h4 class="text-zinc-500">nk@gmail.com</h4>
       <div class="flex gap-3 mt-10">
        <a class="text-zinc-300 " href="">Edit User</a>
        <a class="text-red-600 " href="">Delete User</a>
       </div>
    </div>
    <div class="user w-72 p-4 bg-zinc-800 rounded-md">
       <div class="w-full h-52 rounded-lg bg-red-300"></div>
       <h3 class="text-xl text-white tracking-tighter">Naveen Kumawat</h3>
       <h4 class="text-zinc-500">nk@gmail.com</h4>
       <div class="flex gap-3 mt-10">
        <a class="text-zinc-300 " href="">Edit User</a>
        <a class="text-red-600 " href="">Delete User</a>
       </div>
    </div>
  </div>


  </div>
</body>
</html>