<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
  <div class="main w-full min-h-screen bg-zinc-800">
   <div class="form p-10">
    <form action="">
      <input class="block px-5 py-3 w-full rounded-lg text-gey  outline-none bg-red-400" type="text " placeholder="Title goes here">
      <textarea class="block  px-5 py-3 w-full rounded-lg text-white bg-red-900 outline-none mt-2 resize-none" placeholder="Write your tast detail here..."></textarea>
      <input class="mt-2 bg-blue-500 rounded p-3" type="submit" value="Add Task">
    </form>
   </div>
  </div>
</body>
</html>