<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-4/5 m-auto min-h-screen bg-zinc-900 text-white border-3">
      <form
      action="/upload" method="post" enctype="multipart/form-data"
      class="flex flex-col gap-4 items-center justify-center h-screen"
      >
      <h1 class="">Upload Files</h1>
       <input type="file" name="image" id="">
       
      <button type="submit">upload</button>
      </form>
    </div>
  </body>
</html>
