<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-full h-screen bg-gray-100 border-2 flex flex-col justify-center items-center">
      <h1 class="p-10">Create User</h1>
      <form action="/create" method="post" class="">
        <input
          type="text"
          placeholder="username"
          name="name"
          class="border-2 border-gray-500 p-2 m-2 bg-transparent rounded-md font-bold "
        />
        <input
          type="password"
          placeholder="password"
          name="password"
          class="border-2 border-gray-500 p-2 m-2 bg-transparent rounded-md font-bold "
        />
        <input
          type="email"
          placeholder="email"
          name="email"
          class="border-2 border-gray-500 p-2 m-2 bg-transparent rounded-md font-bold "
        />
        <input
          type="number"
          placeholder="age"
          name="age"
          class="border-2 border-gray-500 p-2 m-2 bg-transparent rounded-md font-bold "
        />
        <button type="submit" class="bg-blue-500  p-2 m-2 font-bold text-white">
          create user
        </button>
      </form>
      </div>
    
  </body>
</html>
