<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <h1 class="w-full h-screen bg-gray-300 border-2">
      <form action="" method="post">
        <input
          type="text"
          placeholder="username"
          name="username"
          class="border-2 border-gray-500 p-2 m-2"
        />
        <input
          type="password"
          placeholder="password"
          name="password"
          class="border-2 border-gray-500 p-2 m-2"
        />
        <input
          type="email"
          placeholder="email"
          name="email"
          class="border-2 border-gray-500 p-2 m-2"
        />
        <input
          type="number"
          placeholder="age"
          name="age"
          class="border-2 border-gray-500 p-2 m-2"
        />
        <button type="submit" class="bg-blue-500 text-white p-2 m-2">
          Login
        </button>
      </form>
    </h1>
  </body>
</html>
